[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/terminal-ban"]
	path = themes/terminal-ban
	url = https://github.com/mconstant/hugo-theme-terminal.git
